<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="t" fileName="${basedir}/logs/${shortdate} - Trace.log"
    layout="${longdate} [${uppercase:${level}}] ${logger} - ${message}"/>
    <target xsi:type="File" name="i" fileName="${basedir}/logs/${shortdate} - Infos.log"
    layout="${longdate} [${uppercase:${level}}] ${logger} - ${message}"/>
    <target xsi:type="File" name="d" fileName="${basedir}/logs/${shortdate} - Debug.log"
    layout="${longdate} [${uppercase:${level}}] ${callsite} - ${message}"/>
    <target xsi:type="File" name="e" fileName="${basedir}/logs/${shortdate} - Errors.log"
    layout="${longdate} [${uppercase:${level}}] ${logger} - ${message}"/>

    <target name="console" xsi:type="Console" layout="${longdate} [${uppercase:${level}}] ${callsite} - ${message}"/>
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="t" />
    <logger name="*" level="Info" writeTo="i" />
    <logger name="*" level="Debug" writeTo="d" />
    <logger name="*" minlevel="Warn" writeTo="e" />

    <logger name="*" minlevel="Debug" writeTo="console"/>
  </rules>
</nlog>
